WISE_dashboard_nodered.json
[{"id":"0ee55db90fdfcad9","type":"tab","label":"Flow 13","disabled":false,"info":"","env":[]},{"id":"b799b7a9277940bb","type":"mqtt in","z":"0ee55db90fdfcad9","name":"MQTT Sub","topic":"gasValue","qos":"2","datatype":"auto-detect","broker":"c52d6ad2cc6ac1b0","nl":false,"rap":true,"rh":0,"inputs":0,"x":520,"y":200,"wires":[["4db008513eeebce6","b4919df21d4a456d","3d4a10b4a67ac1f2","1e7462bed828a431"]]},{"id":"ab80397dae4460f9","type":"mqtt in","z":"0ee55db90fdfcad9","name":"MQTT Sub","topic":"tempValue","qos":"2","datatype":"auto-detect","broker":"c52d6ad2cc6ac1b0","nl":false,"rap":true,"rh":0,"inputs":0,"x":520,"y":240,"wires":[["2be269d8ee4ee7cd","91132d57e466727d","69015fdfe47ddd89","fa8c62c10d365e3e"]]},{"id":"12e7f824b8415799","type":"mqtt in","z":"0ee55db90fdfcad9","name":"MQTT Sub","topic":"humValue","qos":"2","datatype":"auto-detect","broker":"c52d6ad2cc6ac1b0","nl":false,"rap":true,"rh":0,"inputs":0,"x":520,"y":280,"wires":[["7711f3e7e7964047","24afa4fc7591b3f1","e4cdc51b42142c98","50c61565084bc328"]]},{"id":"4db008513eeebce6","type":"ui_text","z":"0ee55db90fdfcad9","group":"32d8ba7978bc1508","order":27,"width":0,"height":0,"name":"AIR QUALITY","label":"AIR QUALITY","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":920,"y":200,"wires":[]},{"id":"2be269d8ee4ee7cd","type":"ui_text","z":"0ee55db90fdfcad9","group":"32d8ba7978bc1508","order":28,"width":0,"height":0,"name":"TEMPERATURE","label":"TEMPERATURE","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":950,"y":240,"wires":[]},{"id":"7711f3e7e7964047","type":"ui_text","z":"0ee55db90fdfcad9","group":"32d8ba7978bc1508","order":29,"width":0,"height":0,"name":"HUMIDITY","label":"HUMIDITY","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":950,"y":360,"wires":[]},{"id":"1968b7ca4fbc34a8","type":"mqtt out","z":"0ee55db90fdfcad9","name":"","topic":"buzzer","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c52d6ad2cc6ac1b0","x":1170,"y":560,"wires":[]},{"id":"d7470afdb16ce07f","type":"ui_text","z":"0ee55db90fdfcad9","group":"32d8ba7978bc1508","order":27,"width":0,"height":0,"name":"BUZZER","label":"BUZZER","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1180,"y":620,"wires":[]},{"id":"b4919df21d4a456d","type":"ui_chart","z":"0ee55db90fdfcad9","name":"","group":"0c6f1e9668d2af4d","order":31,"width":0,"height":0,"label":"AIR QUALITY","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":900,"y":100,"wires":[[]]},{"id":"91132d57e466727d","type":"ui_chart","z":"0ee55db90fdfcad9","name":"","group":"0c6f1e9668d2af4d","order":30,"width":0,"height":0,"label":"TEMP CHART","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":900,"y":60,"wires":[[]]},{"id":"24afa4fc7591b3f1","type":"ui_chart","z":"0ee55db90fdfcad9","name":"","group":"0c6f1e9668d2af4d","order":32,"width":0,"height":0,"label":"HUMIDITY","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":950,"y":400,"wires":[[]]},{"id":"e30e3ad6fc3c84a3","type":"check","z":"0ee55db90fdfcad9","x":890,"y":680,"wires":[[]]},{"id":"cd825af44f766db8","type":"function","z":"0ee55db90fdfcad9","name":"PYNODERED","func":"var humidity = msg.hum\nvar temp = msg.temp\nvar air_pressure = msg.air\n\nmsg.payload = [[temp,humidity,air_pressure]]\nvar delayTime = 1000;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":760,"wires":[["e30e3ad6fc3c84a3","4a46ac1adb7043fe"]]},{"id":"3d4a10b4a67ac1f2","type":"change","z":"0ee55db90fdfcad9","name":"","rules":[{"t":"set","p":"air2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":60,"wires":[[]]},{"id":"e4cdc51b42142c98","type":"change","z":"0ee55db90fdfcad9","name":"","rules":[{"t":"set","p":"hum2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":440,"wires":[[]]},{"id":"69015fdfe47ddd89","type":"change","z":"0ee55db90fdfcad9","name":"","rules":[{"t":"set","p":"temp2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":440,"wires":[[]]},{"id":"4a46ac1adb7043fe","type":"debug","z":"0ee55db90fdfcad9","name":"debug 45","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1080,"y":880,"wires":[]},{"id":"ed5e4a211cc85e29","type":"inject","z":"0ee55db90fdfcad9","name":"RANDOM","props":[{"p":"payload"},{"p":"temp","v":"temp2","vt":"flow"},{"p":"hum","v":"hum2","vt":"flow"},{"p":"air","v":"air2","vt":"flow"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":610,"y":760,"wires":[["cd825af44f766db8"]]},{"id":"20c76ab77f1a07b3","type":"inject","z":"0ee55db90fdfcad9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":570,"y":600,"wires":[["934f8bc1be373c24"]]},{"id":"ae4149436652a3d7","type":"comment","z":"0ee55db90fdfcad9","name":"TEST BUZZER WITH RANDOM","info":"TEST BUZZER WITH RANDOM","x":670,"y":540,"wires":[]},{"id":"96a997002f5331f2","type":"comment","z":"0ee55db90fdfcad9","name":"MACHINE LEARNING","info":"TEST BUZZER WITH RANDOM","x":620,"y":700,"wires":[]},{"id":"934f8bc1be373c24","type":"random","z":"0ee55db90fdfcad9","name":"","low":"0","high":"1","inte":"true","property":"payload","x":960,"y":620,"wires":[["1968b7ca4fbc34a8","d7470afdb16ce07f","bb444da104aad59a"]]},{"id":"85c556a8f3100114","type":"inject","z":"0ee55db90fdfcad9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1500,"y":160,"wires":[["2b5c7ffcd2a98d73","4a24ab47d1381116","9f9e505d876ed94d"]]},{"id":"2b5c7ffcd2a98d73","type":"ui_text_input","z":"0ee55db90fdfcad9","name":"","label":"NAME","tooltip":"","group":"32d8ba7978bc1508","order":11,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1730,"y":160,"wires":[["f037ee24e71bea24"]]},{"id":"4a24ab47d1381116","type":"ui_text_input","z":"0ee55db90fdfcad9","name":"","label":"Position","tooltip":"","group":"32d8ba7978bc1508","order":13,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1740,"y":240,"wires":[["8499ab3c0ce66edd"]]},{"id":"f037ee24e71bea24","type":"change","z":"0ee55db90fdfcad9","name":"","rules":[{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":160,"wires":[["1579546ff7ae87bf"]]},{"id":"8499ab3c0ce66edd","type":"change","z":"0ee55db90fdfcad9","name":"","rules":[{"t":"set","p":"type","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":240,"wires":[[]]},{"id":"1579546ff7ae87bf","type":"debug","z":"0ee55db90fdfcad9","name":"debug 46","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2140,"y":160,"wires":[]},{"id":"727b62acbfe43c33","type":"inject","z":"0ee55db90fdfcad9","name":"","props":[{"p":"id","v":"id","vt":"flow"},{"p":"type","v":"type","vt":"flow"},{"p":"name","v":"name","vt":"flow"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1510,"y":320,"wires":[["2b1df562593edd8f"]]},{"id":"2b1df562593edd8f","type":"function","z":"0ee55db90fdfcad9","name":"FUNCTION ARRAY","func":"var id = msg.id\nvar name = msg.name \nvar type = msg.type \n\nmsg.payload = [name,type,id]\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1750,"y":320,"wires":[["bd9e6c2cb069ee1d"]]},{"id":"bd9e6c2cb069ee1d","type":"change","z":"0ee55db90fdfcad9","name":"","rules":[{"t":"set","p":"current_array","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":320,"wires":[[]]},{"id":"9f9e505d876ed94d","type":"ui_text_input","z":"0ee55db90fdfcad9","name":"","label":"FG_ID","tooltip":"","group":"32d8ba7978bc1508","order":12,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":1730,"y":200,"wires":[["60cb2ac6fb25d638"]]},{"id":"60cb2ac6fb25d638","type":"change","z":"0ee55db90fdfcad9","name":"","rules":[{"t":"set","p":"id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":200,"wires":[[]]},{"id":"97289bfb80101461","type":"comment","z":"0ee55db90fdfcad9","name":"PENDAFTARAN","info":"TEST BUZZER WITH RANDOM","x":1520,"y":80,"wires":[]},{"id":"5eea23199aa42d31","type":"mqtt in","z":"0ee55db90fdfcad9","name":"MQTT Sub","topic":"user","qos":"2","datatype":"auto-detect","broker":"c52d6ad2cc6ac1b0","nl":false,"rap":true,"rh":0,"inputs":0,"x":1480,"y":620,"wires":[["ea96e1dd7eb0cf20"]]},{"id":"7252181e10739c18","type":"mysql","z":"0ee55db90fdfcad9","mydb":"f6e827cc61724913","name":"USER_LOG_DATABASE","x":2150,"y":540,"wires":[["f058a0940d8564c8"]]},{"id":"64b73e19e696917e","type":"function","z":"0ee55db90fdfcad9","name":"ARRAY TO DATABASE","func":"msg.topic = \"INSERT INTO user_database(`Name`, `Position`,`id`) VALUES(?,?,?);\"\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":540,"wires":[["7252181e10739c18"]]},{"id":"7e79c2b79ccaff0d","type":"ui_switch","z":"0ee55db90fdfcad9","name":"","label":"SEND TO CSV","tooltip":"","group":"32d8ba7978bc1508","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"current_array","onvalueType":"flow","onicon":"","oncolor":"","offvalue":"current_array","offvalueType":"flow","officon":"","offcolor":"","animate":false,"className":"","x":1600,"y":540,"wires":[["64b73e19e696917e","09284210d25f024c"]]},{"id":"2798d7f4c37131f3","type":"mysql","z":"0ee55db90fdfcad9","mydb":"f6e827cc61724913","name":"USER_LOG_DATABASE","x":2150,"y":620,"wires":[["9fe647947a9d2c92"]]},{"id":"ea96e1dd7eb0cf20","type":"function","z":"0ee55db90fdfcad9","name":"ARRAY TO DATABASE","func":"msg.payload =[msg.payload]\n\nmsg.topic = \"INSERT INTO user_log(`id`) VALUES(?);\"\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":620,"wires":[["2798d7f4c37131f3"]]},{"id":"f058a0940d8564c8","type":"debug","z":"0ee55db90fdfcad9","name":"debug 51","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2400,"y":540,"wires":[]},{"id":"9fe647947a9d2c92","type":"debug","z":"0ee55db90fdfcad9","name":"debug 52","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2400,"y":620,"wires":[]},{"id":"1e7462bed828a431","type":"ui_gauge","z":"0ee55db90fdfcad9","name":"","group":"ed351b8f30041277","order":2,"width":0,"height":0,"gtype":"gage","title":"AIR QUALITY","label":"units","format":"{{value}}","min":"30","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":920,"y":140,"wires":[]},{"id":"fa8c62c10d365e3e","type":"ui_gauge","z":"0ee55db90fdfcad9","name":"","group":"ed351b8f30041277","order":2,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURE","label":"units","format":"{{value}}","min":"20","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":970,"y":280,"wires":[]},{"id":"50c61565084bc328","type":"ui_gauge","z":"0ee55db90fdfcad9","name":"","group":"ed351b8f30041277","order":2,"width":0,"height":0,"gtype":"gage","title":"HUMIDITY","label":"units","format":"{{value}}","min":"50","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":930,"y":320,"wires":[]},{"id":"09284210d25f024c","type":"debug","z":"0ee55db90fdfcad9","name":"debug 53","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1820,"y":480,"wires":[]},{"id":"d84bb59a74472777","type":"ui_template","z":"0ee55db90fdfcad9","group":"9596b4b03fb3e3c9","name":"USERS","order":0,"width":0,"height":0,"format":"<style>\n    td {\n        padding: 20px;\n    }\n</style>\n<h3>USER LOG</h3>\n<table border=1>\n    <tr style=\"background-color: #097479\">\n        <th>id</th>\n        <th>Name</th>\n        <th>Position</th>\n    </tr>\n    <tr ng-repeat=\"x in msg.payload\">\n        <td>{{x.id}}</td>\n        <td>{{x.Name}}</td>\n        <td>{{x.Position}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2480,"y":760,"wires":[[]]},{"id":"916d9530d4c64d21","type":"inject","z":"0ee55db90fdfcad9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1870,"y":760,"wires":[["f9cbe0e6b30ebabc"]]},{"id":"f9cbe0e6b30ebabc","type":"function","z":"0ee55db90fdfcad9","name":"function 2","func":"msg.topic = \"select * from user_database\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":760,"wires":[["d2e8169037d36906"]]},{"id":"d2e8169037d36906","type":"mysql","z":"0ee55db90fdfcad9","mydb":"f6e827cc61724913","name":"USER_LOG_DATABASE","x":2270,"y":760,"wires":[["d84bb59a74472777"]]},{"id":"30b31311708d4f2a","type":"ui_template","z":"0ee55db90fdfcad9","group":"49e3ec92443f02f4","name":"LOG","order":0,"width":0,"height":0,"format":"<style>\n    td {\n        padding: 20px;\n    }\n</style>\n<h3>USER LOG</h3>\n<table border=1>\n    <tr style=\"background-color: #097479\">\n        <th>id</th>\n        <th>timestamp</th>\n    </tr>\n    <tr ng-repeat=\"x in msg.payload\">\n        <td>{{x.id}}</td>\n        <td>{{x.Timestamp}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2470,"y":700,"wires":[[]]},{"id":"303a5926e4aa7a23","type":"inject","z":"0ee55db90fdfcad9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1850,"y":700,"wires":[["7591058957d4d978"]]},{"id":"7591058957d4d978","type":"function","z":"0ee55db90fdfcad9","name":"function 3","func":"msg.topic = \"select * from user_log\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":700,"wires":[["76c1d6caa96c4cc6"]]},{"id":"76c1d6caa96c4cc6","type":"mysql","z":"0ee55db90fdfcad9","mydb":"f6e827cc61724913","name":"USER_LOG_DATABASE","x":2230,"y":700,"wires":[["30b31311708d4f2a"]]},{"id":"bb444da104aad59a","type":"debug","z":"0ee55db90fdfcad9","name":"debug 54","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":720,"wires":[]},{"id":"c52d6ad2cc6ac1b0","type":"mqtt-broker","name":"","broker":"192.168.132.190","port":"1889","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"32d8ba7978bc1508","type":"ui_group","name":"WISE DASHBOARD","tab":"69efbf8204ba91ed","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0c6f1e9668d2af4d","type":"ui_group","name":"AIOT_CHART","tab":"69efbf8204ba91ed","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f6e827cc61724913","type":"MySQLdatabase","name":"DATABASE","host":"127.0.0.1","port":"3306","db":"proyek_aiot","tz":"","charset":"UTF8"},{"id":"ed351b8f30041277","type":"ui_group","name":"AIOT_GAUGE","tab":"69efbf8204ba91ed","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9596b4b03fb3e3c9","type":"ui_group","name":"VERIFIED_USERS","tab":"69efbf8204ba91ed","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"49e3ec92443f02f4","type":"ui_group","name":"LOG","tab":"69efbf8204ba91ed","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"69efbf8204ba91ed","type":"ui_tab","name":"AIOT_TEST","icon":"dashboard","disabled":false,"hidden":false}]