WISE_simulation_nodered.json
[{"id":"71c591fa6f110faa","type":"tab","label":"Attendance System Flow","disabled":false,"info":"","env":[]},{"id":"d979b91ec31c9082","type":"comment","z":"71c591fa6f110faa","name":"SISTEM PENDAFTARAN","info":"","x":170,"y":40,"wires":[]},{"id":"e268ed670293fb22","type":"inject","z":"71c591fa6f110faa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["380e7e89c703b671","bce336bd27107c7c","a9eed9812617b762"]]},{"id":"380e7e89c703b671","type":"ui_text_input","z":"71c591fa6f110faa","name":"","label":"NAME","tooltip":"","group":"c21ffe38bc7abf17","order":11,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":350,"y":120,"wires":[["6bda3ecd0d23dd00"]]},{"id":"bce336bd27107c7c","type":"ui_text_input","z":"71c591fa6f110faa","name":"","label":"FG_BINCODE","tooltip":"","group":"c21ffe38bc7abf17","order":12,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":380,"y":160,"wires":[["6c714410e38414d0"]]},{"id":"a9eed9812617b762","type":"ui_text_input","z":"71c591fa6f110faa","name":"","label":"type","tooltip":"","group":"c21ffe38bc7abf17","order":13,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"payload","sendOnBlur":true,"className":"","topicType":"msg","x":350,"y":200,"wires":[["0564e9a993ad50f0"]]},{"id":"6bda3ecd0d23dd00","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[["2f6b1e745e52e8a5"]]},{"id":"6c714410e38414d0","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"bin","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":160,"wires":[[]]},{"id":"0564e9a993ad50f0","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"type","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":200,"wires":[[]]},{"id":"2f6b1e745e52e8a5","type":"debug","z":"71c591fa6f110faa","name":"debug 23","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":120,"wires":[]},{"id":"d2e359bb6f58d538","type":"inject","z":"71c591fa6f110faa","name":"","props":[{"p":"bin","v":"bin","vt":"flow"},{"p":"type","v":"type","vt":"flow"},{"p":"name","v":"name","vt":"flow"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":280,"wires":[["8e50a58c4e1a2a3d"]]},{"id":"8e50a58c4e1a2a3d","type":"function","z":"71c591fa6f110faa","name":"FUNCTION ARRAY","func":"var bin = msg.bin \nvar name = msg.name \nvar type = msg.type \n\nmsg.payload = [name,type,bin]\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":280,"wires":[["3ceff9bf68c4c4b4"]]},{"id":"3ceff9bf68c4c4b4","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"current_array","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[[]]},{"id":"c234ea7e60863468","type":"ui_switch","z":"71c591fa6f110faa","name":"","label":"SEND TO CSV","tooltip":"","group":"c21ffe38bc7abf17","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"current_array","topicType":"flow","style":"","onvalue":"current_array","onvalueType":"flow","onicon":"","oncolor":"","offvalue":"-","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":180,"y":360,"wires":[["b17ec54e2456bab1"]]},{"id":"c19336aa22a0d1c4","type":"debug","z":"71c591fa6f110faa","name":"debug 25","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":360,"wires":[]},{"id":"ce95565470fad2f3","type":"file","z":"71c591fa6f110faa","name":"WRITE TO CSV","filename":"S:\\Uni_stuff\\Semester_6\\Arsitektur_IOT\\PROYEK\\user_database.csv","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":640,"y":420,"wires":[[]]},{"id":"b17ec54e2456bab1","type":"switch","z":"71c591fa6f110faa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"-","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":360,"wires":[["c19336aa22a0d1c4","ce95565470fad2f3"]]},{"id":"5d5e7fb9e97597a0","type":"comment","z":"71c591fa6f110faa","name":"TEMPERATURE, HUMIDITY, AIR QUALITY AND FINGERPRINT RANDOMIZER","info":"","x":360,"y":520,"wires":[]},{"id":"4e1390c783d75aa1","type":"inject","z":"71c591fa6f110faa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":640,"wires":[["8adb5a8e770f1224"]]},{"id":"8adb5a8e770f1224","type":"random","z":"71c591fa6f110faa","name":"RANDOM TEMP","low":"20","high":"30","inte":"true","property":"payload","x":410,"y":640,"wires":[["ba12c7036e45843b","be5c546b4ca36b86"]]},{"id":"ba12c7036e45843b","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":640,"wires":[["7eb8f2dd604c74e0"]]},{"id":"782124a6985ae54b","type":"inject","z":"71c591fa6f110faa","name":"RANDOM FINGERPRINT","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"00011000\",\"0011010\",\"11011010\",\"011111010\",\"111111010\",\"011111011\",\"011111110\",\"011111011\"]","payloadType":"json","x":200,"y":1000,"wires":[["9b7a9e5f0e043365"]]},{"id":"9b824b02bd73b79d","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"check_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1000,"wires":[[]]},{"id":"9b7a9e5f0e043365","type":"random-item","z":"71c591fa6f110faa","name":"","input":"payload","inputType":"msg","output":"payload","outputType":"msg","number":1,"x":430,"y":1000,"wires":[["9b824b02bd73b79d","c627ab62ecf31f1a","ca3de736ea934743"]]},{"id":"c627ab62ecf31f1a","type":"ui_text","z":"71c591fa6f110faa","group":"c21ffe38bc7abf17","order":15,"width":0,"height":0,"name":"","label":"CURRENT FINGERPRINT","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":860,"y":1060,"wires":[]},{"id":"ca3de736ea934743","type":"debug","z":"71c591fa6f110faa","name":"DEBUG RANDOM FINGERPRINT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":1100,"wires":[]},{"id":"be5c546b4ca36b86","type":"debug","z":"71c591fa6f110faa","name":"DEBUG RANDOM TEMP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":580,"wires":[]},{"id":"7eb8f2dd604c74e0","type":"ui_chart","z":"71c591fa6f110faa","name":"","group":"6f2faec1ee1d5238","order":27,"width":0,"height":0,"label":"TEMPERATURE CHART","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1170,"y":600,"wires":[[]]},{"id":"1d0bf3bca267881b","type":"inject","z":"71c591fa6f110faa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":760,"wires":[["3a943036f98d8388"]]},{"id":"3a943036f98d8388","type":"random","z":"71c591fa6f110faa","name":"RANDOM HUMIDITY","low":"50","high":"100","inte":"true","property":"payload","x":420,"y":760,"wires":[["7637ff0cf8b61a8e","3fa5eaf148485291"]]},{"id":"7637ff0cf8b61a8e","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"humidity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":760,"wires":[["747f66bf509868d2"]]},{"id":"3fa5eaf148485291","type":"debug","z":"71c591fa6f110faa","name":"DEBUG RANDOM HUMIDITY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":700,"wires":[]},{"id":"747f66bf509868d2","type":"ui_chart","z":"71c591fa6f110faa","name":"","group":"6f2faec1ee1d5238","order":27,"width":0,"height":0,"label":"HUMIDITY CHART","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1150,"y":720,"wires":[[]]},{"id":"b05f8b39bc1a4077","type":"inject","z":"71c591fa6f110faa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":880,"wires":[["b10704a8fcd80dca"]]},{"id":"b10704a8fcd80dca","type":"random","z":"71c591fa6f110faa","name":"RANDOM AIR QUALITY","low":"100","high":"300","inte":"true","property":"payload","x":430,"y":880,"wires":[["ed1dffb9312269a1","6a507ed10dab45fc"]]},{"id":"ed1dffb9312269a1","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"air_pressure","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":880,"wires":[["d2103396ee93e111"]]},{"id":"6a507ed10dab45fc","type":"debug","z":"71c591fa6f110faa","name":"DEBUG RANDOM AIR PRESSURE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":820,"wires":[]},{"id":"d2103396ee93e111","type":"ui_chart","z":"71c591fa6f110faa","name":"","group":"6f2faec1ee1d5238","order":27,"width":0,"height":0,"label":"AIR QUALITY CHART","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1160,"y":840,"wires":[[]]},{"id":"347d65152b02f250","type":"comment","z":"71c591fa6f110faa","name":"SISTEM VERIFIKASI","info":"","x":180,"y":1180,"wires":[]},{"id":"06694063ef9115c9","type":"file in","z":"71c591fa6f110faa","name":"","filename":"S:\\Uni_stuff\\Semester_6\\Arsitektur_IOT\\PROYEK\\user_database.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":550,"y":1260,"wires":[["8285eabfbf8eeee3"]]},{"id":"062916b56dfb5a23","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"VERIFIED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1200,"wires":[["078a60bb60451e8c","eb6b59ff3fb63d46"]]},{"id":"f34143e537e3c110","type":"inject","z":"71c591fa6f110faa","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":1260,"wires":[["06694063ef9115c9"]]},{"id":"8285eabfbf8eeee3","type":"switch","z":"71c591fa6f110faa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"check_data","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":1260,"wires":[["062916b56dfb5a23"],["9679dcdbb1ec23e6"]]},{"id":"9679dcdbb1ec23e6","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"NOT VERIFIED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1320,"wires":[["078a60bb60451e8c","e12aa956e4f51943"]]},{"id":"078a60bb60451e8c","type":"ui_text","z":"71c591fa6f110faa","group":"c21ffe38bc7abf17","order":27,"width":0,"height":0,"name":"VERIFICATION:","label":"VERIFICATION:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1340,"y":1260,"wires":[]},{"id":"eb6b59ff3fb63d46","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"UNLOCKED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1160,"wires":[["0080fa63f95f6184","1396e80b212a1ddf"]]},{"id":"e12aa956e4f51943","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"LOCKED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1340,"wires":[["0080fa63f95f6184","1396e80b212a1ddf"]]},{"id":"0080fa63f95f6184","type":"ui_text","z":"71c591fa6f110faa","group":"c21ffe38bc7abf17","order":27,"width":0,"height":0,"name":"DOOR:","label":"DOOR:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1540,"y":1260,"wires":[]},{"id":"503ad89d432e409a","type":"comment","z":"71c591fa6f110faa","name":"SISTEM ROOM MONITORING","info":"","x":210,"y":1440,"wires":[]},{"id":"219c7cc0e5215ad1","type":"inject","z":"71c591fa6f110faa","name":"RANDOM","props":[{"p":"payload"},{"p":"temp","v":"temp","vt":"flow"},{"p":"hum","v":"humidity","vt":"flow"},{"p":"airp","v":"air_pressure","vt":"flow"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":150,"y":1500,"wires":[["6c71503956e42f93","d12a513f2927b87e","00019f840377457e","c4949087b7dd9845"]]},{"id":"6c71503956e42f93","type":"ui_text","z":"71c591fa6f110faa","group":"c21ffe38bc7abf17","order":29,"width":0,"height":0,"name":"CURRENT TEMPERATURE","label":"CURRENT TEMPERATURE (°C)","format":"{{msg.temp}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":420,"y":1580,"wires":[]},{"id":"d12a513f2927b87e","type":"ui_text","z":"71c591fa6f110faa","group":"c21ffe38bc7abf17","order":29,"width":0,"height":0,"name":"CURRENT HUMIDITY","label":"CURRENT HUMIDITY (%)","format":"{{msg.hum}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":400,"y":1620,"wires":[]},{"id":"00019f840377457e","type":"ui_text","z":"71c591fa6f110faa","group":"c21ffe38bc7abf17","order":29,"width":0,"height":0,"name":"CURRENT AIR QUALITY","label":"CURRENT AIR PRESSURE (ppm)","format":"{{msg.airp}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":410,"y":1660,"wires":[]},{"id":"51c7677ef7ad40f8","type":"ui_text","z":"71c591fa6f110faa","group":"c21ffe38bc7abf17","order":32,"width":0,"height":0,"name":"BUZZER","label":"BUZZER","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1280,"y":1500,"wires":[]},{"id":"b113bafaee8fca9e","type":"check","z":"71c591fa6f110faa","x":710,"y":1500,"wires":[["5806a60e4327adac","4cfd8399a4c42ea9"]]},{"id":"5806a60e4327adac","type":"switch","z":"71c591fa6f110faa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":1500,"wires":[["e14d2346d54506db"],["e2868561c9852298"]]},{"id":"e14d2346d54506db","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1440,"wires":[["51c7677ef7ad40f8"]]},{"id":"e2868561c9852298","type":"change","z":"71c591fa6f110faa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1560,"wires":[["51c7677ef7ad40f8"]]},{"id":"4cfd8399a4c42ea9","type":"debug","z":"71c591fa6f110faa","name":"debug 42","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":1600,"wires":[]},{"id":"1396e80b212a1ddf","type":"debug","z":"71c591fa6f110faa","name":"debug 43","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1540,"y":1200,"wires":[]},{"id":"c4949087b7dd9845","type":"function","z":"71c591fa6f110faa","name":"PYNODERED","func":"var humidity = msg.hum\nvar temp = msg.temp\nvar air_pressure = msg.airp\n\nmsg.payload = [[temp,humidity,air_pressure]]\nvar delayTime = 1000;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1500,"wires":[["b113bafaee8fca9e"]]},{"id":"c21ffe38bc7abf17","type":"ui_group","name":"WISE MONITORING SYSTEM","tab":"0a923f52a7842d79","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6f2faec1ee1d5238","type":"ui_group","name":"CHARTS","tab":"0a923f52a7842d79","order":2,"disp":true,"width":"6","collapse":false,"className":"CHARTS"},{"id":"0a923f52a7842d79","type":"ui_tab","name":"ATTENDANCE SYSTEM","icon":"dashboard","disabled":false,"hidden":false}]